*{
    transition-delay: 0.1s;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.font-md{
    font-size: 20px;
}
.font-lg{
    font-size: 60px;
}


.font-el{
    font-size: 80px;
}
.nav-search{
        border-style: none;
        outline: none;
        background-image: url("images/serachbar/search_2.png"); 
        background-position: center right;
        background-size: 30px;
        background-repeat: no-repeat;
        width: 30px;
        

}
.nav-search:focus{
    width: 200px;
    height: 38px;
}
.caro-bg{
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
}
.cardSize{
    width: 90%;
}
.zoom:hover{
    transform: scaleX(1.1);
    transform: scaleY(1.1);
}

.background_img{
    background-image: url("images/landscapeMode.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;   
    width: 100%;
    height: 75vh;
}
.background_suggestion{
    width: 21%;
    height: 20vh;
    text-align: center;
    vertical-align: text-top;
}

.btn_blue{
        background-color: #069;
        color: white;
        border-radius: 10px;
        
}

.coversation_start{
    background-image: url('images/watchCard/Coversation/1.jpg');
    background-position: center ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
}
.coversation_start:hover{
    background-image: url('images/watchCard/Coversation/2.jpg');
    background-position: center ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
}

.whyBuy{
    
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
    height: 10vh;
    color: white;
    font-size: 32px;      
    text-align: center;
    
    
}


.padding-0{
    padding-right:0;
    padding-left:0;
}

.apm{
    width: 100%;
    height: 50vh;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
  
}
.btn_ghost{

 
    background-color: #047f6a;
    border: 1px solid #047f6a;
    color: white;
    width: 130px;
    height: 30px;
}
.btn_ghost:hover{
    background-color: white;
    border: 1px solid #047f6a;
    color: #047f6a;
 


}


.about{
    position: absolute;
    left: 122px;

}

.rolx_button{
    width: 100px;
    border-radius: 20px;
}
.rolx_button:hover{
        background-color: #d1d5db;;
        color: white;
}
.small_button{
    width: 40px;
    height: 60px;

}
.inputfieldStyle{
    height: 42px;
    width: 75%;
}
.inputbtnStyle{
    height: 42px;
    width: 75%;
}
.small_button{
    height: 50px;
    margin: 2px;
}
.carouselHeight{
    height: 60vh;
}
.aboutlarg{
    display: none;
}
.margin_top{
    margin-top: 765px;
}
.indexValue{
    position: absolute;
    background-color: white;
    z-index: 1;
    top: 290px;
    left: 0;
    right: 0;
    margin: auto;
}

@media screen and (max-width: 600px) {
    .background_suggestion{
        width: 100%;
        text-align: center;
        vertical-align: text-top;
    }
    .rolx_button{
        width: 60px;
    }
    .AUDEMARS{
        display: none;
    }
    .textcenter{
        text-align: center;
    }
    .carouselHeight{
        height: 27vh;
    }
    .fontAdjust{
        font-size: 22px;
    }
    .fontAdjustTime{
        font-size: 22px;
    }.about{
        display: none;
    }
    .background_img{
        background-image: url("images/landscapeMode.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;   
        width: 100%;
        height: 50vh;
    }.aboutlarg{
        display: block;
    }.margin_top{
        margin-top: 1060px;
    }
  }


  